!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title forgift
    link(rel='stylesheet', href='css/style.css', type='text/css', media='all')
  body
    .wrapper
      .shell
        .nav
          .logo
            a(href='/index')
              span#for for
              span#gift gift
          .bar
            a(href='/index#whot')
              p.whon who
            //
              <p class="info">birthday person</p>
            a(href='/index#whatt')
              p.whatn what
            //
              <p class="info">select gift</p>
            a(href='/index#where')
              p.wheren how
            //
              <p class="info">destination</p>
        .content
          .home
          #home
          .first
            h1 You have successfully sent your gift!!
          .divider  
          .footer
            p
              br
